  <icecomm-leave text = "Leave"></icecomm-leave>
  <icecomm-connect audio = false room="custom room" text="BROADCAST" limit="1"> </icecomm-connect>
  <icecomm-local id = "local"></icecomm-local>
<div class="comment-box">

  <div ng-repeat = "data in data">
  
    
      username: {{data.username}} <br>
      {{data.comment}}



  <div ng-repeat="data in data" class="col-md-6">
    <div class="thumbnail">
     <p class="username">Username: {{data.username }} on {{data.date | date}}</p>
     <p class="comment">{{data.comment }}</p>
    </div>

  </div>

</div>


<form class="" action="index.html" method="post">
  <input type="text" placeholder ='username' name="username">
  <input type="text" placeholder ='message' name="username" value="">
  <input type="button" name="submit" ng-click='Submit()' value='submit'>

<form class="" action="index.html" method="post" >
  <input type="text" placeholder ='username' name="username" ng-model="homeCtrl.newMessage.username">
  <input type="text" placeholder ='message' name="username"  ng-model="homeCtrl.newMessage.comment">
  <input type="button" name="submit" value='submit' ng-click="homeCtrl.sendMessage()">

</form>
