<div ng-include="'./partials/nav.html'"></div>   
     <!-- canvas stores captured image -->
    <canvas id = "canvas" drawing></canvas>
    <!-- when we draw the image <img> will hold final image-->
    <img id = "photo" ng-src = "">
  <button ng-click = "homeCtrl.takePic()">Snap Me</button> 

    <icecomm-leave text = "Leave">leave</icecomm-leave>
    <icecomm-connect audio=false> </icecomm-connect>
    <icecomm-local id = "local" > </icecomm-local>
    <!-- <icecomm-peer prestream"hide"></icecomm-peer> -->
