<div ng-include="'./partials/nav.html'"></div>
<div class="container">
    <div >
      <form class="form">
        <div>
          <label for="username">
            Username:
          </label>
          <input type="text" id="username" ng-model="loginCtrl.user.username" />
        </div>
        <div>
          <label for="password">
            Password:
          </label>
          <input type="text" id="password" ng-model="loginCtrl.user.password" />
        </div>
        <button type="submit" class="btn btn-default" ng-click="loginCtrl.signUp()">Sign Up</button>
        <button type="submit" class="btn btn-default" ng-click="loginCtrl.logIn()">Log In</button>
      </form>
    </div>
  </div>

  <button ng-click="loginCtrl.check()"> check</button>
  