 <nav class="navbar navbar-default" ng-controller="navCtrl">
   <div class="container">
     <div class="navbar-header">
       <ul class="nav navbar-nav">
         <li ng-show="!isLoggedIn()"><a>Welcome</a></li>
         <li ng-show="isLoggedIn()"><a>Welcome {{currentUser}}</a></li>
       </ul>
     </div>
     <ul class="nav navbar-nav navbar-right">
       <li><a ui-sref="live-users">live-users</a></li>
       <li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Logout</a></li>
       <li ng-show="!isLoggedIn()"><a ui-sref="login">login</a></li>
     </ul>
   </div>
 </nav>

